
version: 1.0.{build}-{branch}

environment:
  matrix:
    - RUBY_VERSION: 193
    - RUBY_VERSION: 21
    - RUBY_VERSION: 24

install:
  - set PATH=C:\Ruby%RUBY_VERSION%\bin;%PATH%
  - bundle install

build: off

before_test:
  - ruby -v
  - gem -v
  - bundle -v

test_script:
  - bundle exec rspec

